body {
    background-color: cadetblue;
    color: crimson;
    font-size: 300%;
}

header{
    // 寬度 高度 背景顏色 px(單位像素)
    width: 1000px;
    height: 80px;
    background-color: darkgoldenrod;
}

main{
    // 寬度 高度 背景顏色 
    width: 1000px;
    height: 600px;
    background-color: darkseagreen;
}

footer{
    // 寬度 高度 背景顏色 
    width: 1000px;
    height: 50px;
    background-color: darkturquoise;
}