body {
  background-color: cadetblue;
  color: crimson;
  font-size: 300%;
}

header {
  width: 1000px;
  height: 80px;
  background-color: darkgoldenrod;
}

main {
  width: 1000px;
  height: 600px;
  background-color: darkseagreen;
}

footer {
  width: 1000px;
  height: 50px;
  background-color: darkturquoise;
}
